extends layout

block content
  .container
      .page-header
        h2 All Emails
      .row
        each item, index in items
            dl.dl-horizontal
                dt= item.create_ts
                dd= item.mail
